/* Max width: 640px */
@media (max-width: 640px) {
  .btn-mobile-nav {
    display: block;
  }

  .primary-links {
    background-color: #fff;
    position: absolute;
    top: 6.4rem;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .nav-open .primary-links {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }
}
